/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* griglia */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* da cancellare */
    border: 1px solid black;
    min-height: 300px;
}

.section {
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.col {
    width: calc(95% /3);
    /* da cancellare */
    border: 2px solid blue;
    min-height: 200px;
}
.foto{
    position: relative;
}
.like{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}
.like:hover{
color: red;
}
.sconto{
    position: absolute;
    background-color: red;
    padding: 5px;
    bottom: 5%;
}