/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* griglia */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* da cancellare */
    border: 1px solid black;
    min-height: 300px;
}

.section {
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;

}

.col {
    width: calc(95% /3);
    /* da cancellare */
    border: 2px solid blue;
    min-height: 200px;
}

.foto {
    position: relative;
    margin-bottom: 55px;
}

.like {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 999;
}

.like:hover {
    color: red;
}

.sconto {
    position: absolute;
    background-color: red;
    padding: 5px;
    bottom: 5%;
    color: white;
    z-index: 999;
}

.sostenibilità {
    position: absolute;
    background-color: green;
    padding: 5px;
    bottom: 5%;
    right: 60%;
    color: white;
    z-index: 999;
}

.descri {
    position: absolute;
    top: 100%;
}

.top-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.top-img:hover {
    opacity: 1;
}